/*
COMP90024 Project 2 2023
Contributor
Aobo Li              1172339
Pavith Samarakoon    1297058
Zhihao Liang         1367102
Jiqiang Chen         1171420
Yijun Liu            1132416
*/
.App {
  font-family: sans-serif;
  text-align: center;
}

.recharts-wrapper {
  cursor: crosshair !important;
}

.recharts-scatter-symbol {
  cursor: pointer;
}

.recharts-cartesian-axis-tick {
  user-select: none;
}

.plot-container {
  position: relative;
}

button {
  position: absolute;
  left: 200px;
  z-index: 1;
}
